<%- include("template/header", {title: "To-do"}) %> 

    <div class="container">
        <!-- <a class="btn btn-success btn-block my-4"
        href="/mascotas/newTask"
        >
            Create new task
        </a> -->
        <table >
            <thead>
              <tr>
                <th scope="col">To-do</th>
                <th scope="col">Doing</th>
                <th scope="col">Done</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayTickets.length > 0) { %>
                    <% arrayTickets.forEach(tickets => { %>
                        <tr>
                            <td><%=mascotas.nombre  %></td>
                            <td><%=mascotas.descripcion  %></td>
                            <td>
                                <a 
                                    href="mascotas/<%= mascotas.id %> "
                                    class="btn btn-warning btn-sm">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        
                    <% }) %>
                <% } %>
            </tbody>
        </table>

        

    </div>

<%- include('template/footer')  %> 
